/***** NAV STYLES INC FONT DROPDOWN AND DARKMODE TOGGLE *****/
@use 'colors';

  nav {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    
    .settings {
      display: flex;
    }
/** FONT DROPDOWN MENU **/
    .dropdown {
      display: flex;
      align-items: center;
    }

    .dropdown-arrow {
      margin: 0 16px;
    }

    button {
      background-color: white;
      border: none;
      font-size: .875rem;
      font-weight: bold;
      padding: 0;
    }

  /** DARKMODE TOGGLE **/
    .switch-container {
      display: inline-flex;
      align-items: center;
      border-left: 1px solid colors.$light-gray;
      margin: 0;
      padding-left: 16px;
    }
    
    button#toggle {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      margin-right: 1ch;
      /*Hide default buttons styles*/
      border: 0;
      padding: 0;
      background: transparent;
      font: inherit;
    }

    /*Hide focus outline bc it will be on the toggle-display*/
    #toggle:focus {
      outline: 0;
    }

    /* Visible toggle switch */
     .toggle-display {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        border: 0.1em rolid rgb(0 0 0/ 0.2);
        position: relative;
        width: 40px;
        height: 20px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: colors.$dark-gray;
        border-radius: 34px;
        transition: .4s;
      }

      /* The toggle handle/ball */
      .toggle-display::before {
        content: '';
        position: absolute;
        z-index: 2;
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        box-sizing: border-box;
        border: 0.1 solid rgb(0 0 0 / 0.2);
        background-color: white;
        border-radius: 50%;
        transition: transform .4s ease-out;
      }

/**
 *    When the input is focused, provide the display the default outline
 *    styles from the browser to mimic a native control. This can be
 *    customised to have a custom focus outline.
 */
#toggle:focus .toggle-display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color; 
}

/**
 *    When the toggle is interacted with with a mouse click (and therefore
 *    the focus does not have to be ‘visible’ as per browsers heuristics),
 *    remove the focus outline. This is the native checkbox’s behaviour where
 *    the focus is not visible when clicking it.
 */
#toggle:focus:not(:focus-visible) .toggle-display {
  outline: 0;
}

#toggle[aria-pressed="true"] .toggle-display::before {
  transform: translateX(20px);
}

/*+ .toggle[disabled] .toggle-display,
.toggle-input:disabled + .toggle-display {
  
}*/

/*+ [dir="rtl"] .toggle[aria-pressed="true"] + .toggle-display::before,
[dir="rtl"] .toggle-input:checked + .toggle-display::before {
  
}*/

.toggle-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
}

/**
 * 1. The cross looks visually bigger than the checkmark so we adjust its
 *    size. This might not be needed depending on the icons.
 */
.toggle-icon-cross {
  color: #e74c3c;
  font-size: 85%; /* 1 */
}

.toggle-icon-checkmark {
  color: #1fb978;
}

    /*.switch.purple {
      background-color: colors.$purple;
    }*/
    
    /*.ball {
      position: absolute;
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform .4s ease-out;
    }*/
/** DARKMODE STYLES **/
    /*.ball.move-right {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }*/

    /*.moon.purple {
      color: colors.$purple;
    }*/
    
    .purple {
      background-color: colors.$purple;
    }

    @media (prefers-reduced-motion: reduce) {
      .toggle-display,
      .toggle-display::before {
        transition-duration: 0ms;
      }
    }
  }

  body.dark {
    background-color: black;
    color: white;
  }

  .dark .pronunciation-recording,
  .dark .dropdown {
    background-color: black;
    color: white;
  }