@use 'colors';

  nav {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    
    .settings {
      display: flex;
    }

    .dropdown {
      display: flex;
      align-items: center;
    }

    .dropdown-arrow {
      margin: 0 16px;
    }

    button {
      background-color: white;
      border: none;
      font-size: .875rem;
      font-weight: bold;
      padding: 0;
    }

    .switch-container {
      display: flex;
      align-items: center;
      border-left: 1px solid colors.$light-gray;
      margin: 0;
      padding-left: 16px;
    }
    
    /* Hide default HTML checkbox */
    .switch-container input {
      height: 0;
      opacity: 0;
      width: 0;
    }
    
    /* The slider */
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      width: 40px;
      height: 20px;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #757575;
      border-radius: 34px;
      transition: .4s;
    }
    
    .ball {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform .4s ease-out;
    }
}

.ball.move-right {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(20px);
}

body.dark {
  background-color: black;
  color: white;
}
.pronunciation-recording.dark,
.dropdown.dark {
  background-color: black;
  color: white;
}