/***** NAV STYLES INC FONT DROPDOWN AND DARKMODE TOGGLE *****/
@use 'colors';

  nav {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    
    .settings {
      display: flex;
    }
/** FONT DROPDOWN MENU **/
    .dropdown {
      display: flex;
      align-items: center;
    }

    .dropdown-arrow {
      margin: 0 16px;
    }

    button {
      background-color: white;
      border: none;
      font-size: .875rem;
      font-weight: bold;
      padding: 0;
    }

  /** DARKMODE TOGGLE **/
    .switch-container {
      display: inline-flex;
      align-items: center;
      border-left: 1px solid colors.$light-gray;
      margin: 0;
      padding-left: 16px;
    }

    /* The toggle container */
    .toggle {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      margin-right: 1ch;
    }
    
    /* Hide default HTML checkbox */
    /* .switch-container input {
      height: 0;
      opacity: 0;
      width: 0;
    } */
    
    /*Hide default buttons styles*/
    button.toggle {
      border: 0;
      padding: 0;
      background: transparent;
      font: inherit;
    }

    /*Hide focus outline bc it will be on the toggle-display*/
    .toggle:focus {
      outline: 0;
    }

    /* Visible toggle switch */
     .toggle-display {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        border: 0.1em rolid rgb(0 0 0/ 0.2);
        position: relative;
        width: 40px;
        height: 20px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: colors.$dark-gray;
        border-radius: 34px;
        transition: .4s;
      }

      /* The toggle handle/ball */
      .toggle-display::before {
        content: '';
        position: absolute;
        z-index: 2;
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        box-sizing: border-box;
        border: 0.1 solid rgb(0 0 0 / 0.2);
        background-color: white;
        border-radius: 50%;
        transition: transform .4s ease-out;
      }

    /*+ .toggle:focus .toggle-display,
.toggle__input:focus + .toggle-display {
  
} */

/*+ .toggle:focus:not(:focus-visible) .toggle-display,
.Toggle__input:focus:not(:focus-visible) + .toggle-display {
  
}*/

+ .Toggle[aria-pressed="true"] .toggle-display::before,
.toggle__input:checked + .toggle-display::before {
  background-color: colors.$purple;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*+ .toggle[disabled] .toggle-display,
.toggle-input:disabled + .toggle-display {
  
}*/

/*+ [dir="rtl"] .toggle[aria-pressed="true"] + .toggle-display::before,
[dir="rtl"] .toggle-input:checked + .toggle-display::before {
  
}*/
    
/* The slider */
    /* The switch - the box around the slider */
    /*.switch {
      position: relative;
      width: 40px;
      height: 20px;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: colors.$dark-gray;
      border-radius: 34px;
      transition: .4s;
    }*/

    /*.switch.purple {
      background-color: colors.$purple;
    }*/
    
    /*.ball {
      position: absolute;
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform .4s ease-out;
    }*/
/** DARKMODE STYLES **/
    /*.ball.move-right {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }*/

    /*.moon.purple {
      color: colors.$purple;
    }*/
}

body.dark {
  background-color: black;
  color: white;
}

.dark .pronunciation-recording,
.dark .dropdown {
  background-color: black;
  color: white;
}