html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .content-wrapper-top,
  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 90%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  figure {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  
  img {
    max-width: 100%;
  }